<template>
  <q-menu anchor="bottom left" self="bottom end">
    <q-list>
      <q-item v-for="model in available" :key="model" clickable
              @click="changeModel(model)">
        <q-item-section>{{ model }}</q-item-section>
        <q-item-section side>
          <q-icon v-if="currentlySelected===model" name="check"></q-icon>
          <q-icon v-else></q-icon>
        </q-item-section>
      </q-item>
    </q-list>
  </q-menu>
</template>

<script setup lang="ts">
import {useRoute} from 'vue-router';
import {useModelSelectionStore} from 'stores/modelSelection';
import {computed} from 'vue';
import {modelEvaluatorFromPath} from 'components/model';

const route = useRoute();
const path = computed(() => route.path);

const modelSelectionStore = useModelSelectionStore();

const available = modelSelectionStore.availableModels;


const currentlySelected = computed(() => {
  const eva = modelEvaluatorFromPath(path.value);
  return eva != null ? modelSelectionStore.getModel(eva) : null
})

function changeModel(modelName: string) {
  const eva = modelEvaluatorFromPath(path.value);
  if (eva != null) {
    modelSelectionStore.setModel(modelName, eva);
  } else {
    console.log('could evaluate path for model change: ' + path.value)
  }
}


</script>

<style scoped>

</style>
