<template>
  <q-inner-loading
    :showing="showLoading"
  />


  <div id="plotly" style="height: 100%">


  </div>
</template>

<script setup lang="ts">
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
//@ts-ignore
import Plotly from 'plotly.js-dist';
import {onMounted, ref, watch} from 'vue';
import {useWindowSize} from 'vue-window-size';
import {api} from 'boot/axios';
import {useModelSelectionStore} from 'stores/modelSelection';
import {ModelEvaluator} from 'components/model';
import {useWordManagementStore} from 'stores/wordManagement';


const modelSelectionStore = useModelSelectionStore();
const wordManagementStore = useWordManagementStore();


const showLoading = ref(true);
const {width, height} = useWindowSize();

let seed = 420

function randomWithSeed() {
  const max = 255;
  const min = 0;
  seed = (seed * 9301 + 49297) % 233280;
  const rnd = seed / 233280;

  return min + rnd * (max - min);
}


function preparePlotData(materials: any) {
  let res = []
  console.log(materials)
  for (let i = 0; i < materials.x.length; i++) {
    res.push(
      {
        x: [materials.x[i]],
        y: [materials.y[i]],
        z: [materials.z[i]],
        mode: 'markers',
        name: materials.labels[i],
        marker: {
          color: `rgb(${randomWithSeed()},${randomWithSeed()},${randomWithSeed()})`,
          size: 8,
          symbol: 'circle',
          line: {
            color: 'rgb(0, 0, 0)',
            width: 0.8
          },
          opacity: 1
        },
        type: 'scatter3d'
      }
    )
  }
  console.log(res)
  return res
}

function computePlotLayout() {
  // this somehow doesn't work with a vue ref, check again later maybe
  const header = document.getElementById('siteHeader')?.clientHeight
  const offset = header == undefined ? 400 : header; // undefined on slow devices
  return {
    height: height.value - offset - 1, //just to make sure that there are no scrollbars
    width: width.value,
    showlegend: true,
    legend: {x: 0, xanchor: 'left', y: 1},
    margin: {l: 0, r: 0, b: 0, t: 0}
  };
}

async function loadPlot() {
  let data = []
  api
    .post('display_vectors', {
        model: modelSelectionStore.getModel(ModelEvaluator.Plot),
        vectors: wordManagementStore.getCurrentList()
      },
      {headers: {'content-type': 'application/json'}})
    .then((resp) => {
      data = preparePlotData(resp.data)
      Plotly.newPlot('plotly', data, computePlotLayout(), {displaylogo: false});
      showLoading.value = false;
    })
    .catch((err) => console.log(err))
}

// load after tab switch operation in order to prevent lagging. Workaround for now
onMounted(() => setTimeout(() => loadPlot(), 250));

watch(width, () => Plotly.relayout('plotly', computePlotLayout()));
watch(height, () => Plotly.relayout('plotly', computePlotLayout()));
watch(() => modelSelectionStore.getModel(ModelEvaluator.Plot),
  () => {
    loadPlot()
  })
</script>

<style>
.js-plotly-plot .plotly .modebar {
  left: 45%
}
</style>
