<template>
  <div class="col">
    <div class="row q-mb-sm">
      <div class="col">
        <q-btn-group class="">
          <q-btn v-for="list in wordLists" :key="list" :label="list" size="sm"
                 @click="updateListSelection(list)"
                 :color="list === currentlySelectedList ? 'primary' : 'grey'">
          </q-btn>
        </q-btn-group>
      </div>

      <div class="col">
        <q-btn-group class="float-right">
          <q-btn unelevated align="right" size="sm" icon="add" @click="addNewListDialog = true"></q-btn>
          <q-btn unelevated align="right" size="sm" icon="delete" @click="deleteListDialog = true"></q-btn>
        </q-btn-group>
      </div>

    </div>
    <div class="row-6">
      <q-input
        v-model="text"
        filled
        debounce="200"
        type="textarea"
        :error="!isValidEntry"
      />
    </div>
    <q-btn :disable="!isValidEntry" @click="updateWords">Save Wordlist</q-btn>
    <div class="row-6" v-if="invalidWords.length !== 0">
      <p class="text-red"> These words are not known by the model: {{ invalidWords }}</p>
      <q-btn @click="removeUnknownWords">Remove unknown words</q-btn>
    </div>
  </div>
  <q-dialog v-model="addNewListDialog">
    <q-card>
      <q-card-section>
        Enter a list name.
      </q-card-section>
      <q-card-section>
        <q-input v-model="newListName" dense autofocus counter @keyup.enter="createList()"
                 :error="!isNewListNameValid" error-message="Invalid list name">
        </q-input>
      </q-card-section>
      <q-card-actions>
        <q-btn unelevated class="float-right" v-close-popup="addNewListDialog" label="create" @click="createList"
               :disable="!isNewListNameValid"></q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-dialog v-model="deleteListDialog">
    <q-card>
      <q-card-section class="row items-center">
        <span class="q-ml-sm">Do you really want to delete the List "{{ currentlySelectedList }}"?</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="No" color="primary" v-close-popup/>
        <q-btn flat label="Yes" color="primary" v-close-popup @click="deleteList()"/>
      </q-card-actions>
    </q-card>
  </q-dialog>

</template>

<script setup lang="ts">
import {computed, ref, watch} from 'vue';
import {useWordManagementStore} from 'stores/wordManagement';
import {api} from 'boot/axios';
import {useModelSelectionStore} from 'stores/modelSelection';
import {ModelEvaluator} from 'components/model';


const modelSelectionStore = useModelSelectionStore();
const wordManagementStore = useWordManagementStore();
const wordLists = ref(wordManagementStore.getLists());
const currentlySelectedList = ref(wordManagementStore.listInUse === '' ?
  wordManagementStore.getLists()[0] : wordManagementStore.listInUse)
const text = ref(wordManagementStore.getTextForInputField(currentlySelectedList.value))
const invalidWords = ref<string[]>([]);
const textToWordlist = (text: string) => text.split(/[ \n]/).filter(w => w !== '')
const addNewListDialog = ref(false);
const deleteListDialog = ref(false);

const newListName = ref<string | null>(null)

const isNewListNameValid = computed(() =>
  newListName.value !== '' &&
  !wordLists.value.includes(typeof newListName.value === 'string' ? newListName.value : ''))

const createList = () => {
  if (typeof newListName.value === 'string') {
    wordManagementStore.addList(newListName.value);
    wordLists.value = wordManagementStore.getLists()
    addNewListDialog.value = false;
    newListName.value = null;
  }
}

const deleteList = () => {
  if (wordManagementStore.getLists().length > 1) {
    wordManagementStore.deleteList(currentlySelectedList.value);
    wordLists.value = wordManagementStore.getLists();
    currentlySelectedList.value = wordManagementStore.getLists()[0];
    wordManagementStore.listInUse = currentlySelectedList.value;
    text.value = wordManagementStore.getTextForInputField(currentlySelectedList.value);
  }
}

function updateListSelection(list: string) {
  currentlySelectedList.value = list;
  wordManagementStore.listInUse = currentlySelectedList.value;
  text.value = wordManagementStore.getTextForInputField(currentlySelectedList.value);
}

const updateWords = () => wordManagementStore.updateList(currentlySelectedList.value, textToWordlist(text.value))
const removeUnknownWords = () => {
  const words = textToWordlist(text.value)
  const wordsFiltered = words.filter(w => !invalidWords.value.includes(w))
  text.value = wordsFiltered.join('\n')
}

watch(text, async () => {
  invalidWords.value = [];
  textToWordlist(text.value).forEach(word => {
    if (!wordManagementStore.getList(currentlySelectedList.value).includes(word)) {
      api.get('/check_word_occurrence/', {
        params: {word: word, model: modelSelectionStore.getModel(ModelEvaluator.Relation)}
      }).then(r => {
        if (!r.data) {
          invalidWords.value.push(word)
        }
      }).catch(e => console.log(e))
    }
  })
})
const isValidEntry = computed(() => invalidWords.value.length === 0)
</script>

<style scoped>

</style>
