<template>
  <q-layout view="hHh lpR fFf">

    <q-header bordered class="bg-primary text-white" id="siteHeader">

      <q-tabs align="left">
        <a class="q-mx-md"> Material Word Embeddings </a>
        <q-separator vertical inset color="white"/>
        <q-route-tab to="/" label="Top Similarity"/>
        <q-route-tab to="/relation" label="Relations"/>
        <q-route-tab to="/plot" label="Plot"/>
        <q-separator vertical inset color="white"/>
        <q-route-tab to="/settings" label="Settings"/>

      </q-tabs>
    </q-header>

    <q-page-container>
      <router-view/>

      <q-btn class="absolute-bottom-right" icon="storage" v-if="isModelSelectVisible">
        <ModelPickMenu></ModelPickMenu>
      </q-btn>
    </q-page-container>


  </q-layout>
</template>


<script setup lang="ts">
import ModelPickMenu from '../components/ModelPickMenu.vue'
import {computed} from "vue";
import {useRoute} from 'vue-router';

const route = useRoute();
const path = computed(() => route.path);


const isModelSelectVisible = computed<boolean>(() => {
  return path.value === "/plot" || path.value === "/relation" || path.value === "/"
})

</script>
