<template>
  <q-page class="items-center">
    <PlotWrapper></PlotWrapper>

  </q-page>
</template>

<script setup>
import PlotWrapper from '../components/PlotWrapper.vue';



</script>

<style lang="sass">

</style>
