<template>
  <q-page class="col q-mx-md">

    <q-select
      class="row"
      v-model="first"
      :options="allTokens"
      @update:model-value="setSelected"
      label="First"
    ></q-select>

    <q-select
      class="row"
      v-model="second"
      :options="wordManagementStore.listInUse === 'Coocurences' ? secondOptionTokens : allTokens"
      @update:model-value="setSelected"
      label="Second"
    ></q-select>
    <q-select
      class="row"
      v-model="third"
      :options="allTokens"
      @update:model-value="setSelected"
      label="Third"
    ></q-select>


    <div class="q-pa-md" v-if="rows !== null && rows.value !== null">
      <q-table
        title="Results"
        :rows="rows"
        :columns="columns"
        :rows-per-page-options="[7]"
        row-key="rank"
      />
    </div>


    <q-ajax-bar position="bottom" color="accent" size="10px"/>
  </q-page>
</template>

<script setup lang="ts">
import {computed, onMounted, ref, watch} from 'vue';
import {api} from 'boot/axios';
import {useQuasar} from 'quasar';
import {useModelSelectionStore} from 'stores/modelSelection';
import {ModelEvaluator} from 'components/model';
import {useWordManagementStore} from "stores/wordManagement";
import axios from "axios";


const $q = useQuasar();
const allTokens = ref<string[]>([]);
const topSimilarNumber = ref(10);
const first = ref<string | null>(null);
const second = ref<string | null>(null);
const third = ref<string | null>(null);
const rows = ref(null);


const modelSelectionStore = useModelSelectionStore();
const wordManagementStore = useWordManagementStore();


const jsonData = ref(null)

axios.get('co_occurences.json', {baseURL: window.location.origin}).then((resp) => {
  jsonData.value = resp.data;
})


const columns = [
  {
    name: 'rank',
    required: true,
    label: 'Rank',
    align: 'left',
    field: (row: { rank: any; }) => row.rank,
    format: (val: any) => `${val}`,
    sortable: true
  },
  {name: 'word', align: 'center', label: 'Word', field: 'word', sortable: true},
  {name: 'similarity', align: 'center', label: 'Similarity', field: 'similarity', sortable: true},
]

function alertServerNotReachable() {
  $q.notify({
    type: 'negative',
    message: 'Error loading data. Server reachable?',
    position: 'top',
  });
}

function getTokens() {
  // api
  //   .get('tokens', {params: {model: modelSelectionStore.getModel(ModelEvaluator.TopSimilarity)}})
  //   .then((resp) => (tokens.value = resp.data.filter((w: string) => wordManagementStore.getCurrentList().includes(w))))
  //   .catch((e) => {console.log(e); setTimeout(getTokens, 500)});
  allTokens.value = wordManagementStore.getCurrentList()
}

const secondOptionTokens = computed<string[]>(() => {
  if (first.value == null) {
    return []
  } else if (jsonData.value != null){
    let entries = []
    const objects: never[] = jsonData.value[first.value]
    objects.forEach((e) => entries.push([Object.keys(e)[0], Object.values(e)[0].length]))
    entries.sort((l,u) => l[1] < u[1])
    console.log(entries)
    return entries.map((v) => v[0])
  } else {
    return []
  }
})

function setSelected() {
  if (first.value != null && second.value != null && third.value != null) {
    api
      .post('relation', {
        first: first.value,
        second: second.value,
        third: third.value,
        top_n: topSimilarNumber.value,
        model: modelSelectionStore.getModel(ModelEvaluator.Relation)

      })
      .then((resp) => {
        console.log(resp);
        rows.value = resp.data
      })
  }
}

onMounted(() => getTokens());
watch(() => modelSelectionStore.getModel(ModelEvaluator.Relation),
  () => {
    getTokens();
    setSelected()
  })
</script>

<style scoped></style>
