<template>
  <q-page class="col q-mx-md">
    <div>
      <div class=" text-h6">Preferred Model</div>
      <p>Changing this option will change all model choices.</p>
      <div class="row">
        <q-radio v-model="selection" v-for="model in availableModels" :key="model" :val="model" :label="model"
                 @click="updateStoreSelection()"/>
      </div>
    </div>
    <div class="q-mt-lg">
      <div class="text-h6">Word List</div>
      <p>Add here the words, that you want to analyze with the application.</p>
      <p class="text-italic">Separate the words with spaces or linebreaks.</p>
      <WordListManagement></WordListManagement>
    </div>

  </q-page>
</template>

<script setup lang="ts">
import {useModelSelectionStore} from 'stores/modelSelection';
import {ref} from 'vue';
import WordListManagement from 'components/WordListManagement.vue';

const modelSelectionStore = useModelSelectionStore();

const availableModels = modelSelectionStore.availableModels;

function determineSelection(): string | null {
  const chosenModels = modelSelectionStore.selectedModels;
  return chosenModels.every(v => v == chosenModels[0]) ? chosenModels[0] : null;
}

const selection = ref(determineSelection())


function updateStoreSelection() {
  modelSelectionStore.setPreferredModel(selection.value)
}

</script>

<style scoped>

</style>
