<template>
  <q-page class="col q-mx-md">
    <q-select
      class="row"
      v-model="selection"
      :options="tokens"
      @update:model-value="setSelected"
      label="Material"
    ></q-select>

    <div class="q-pa-md" v-if="rows !== null && rows.value !== null">
      <q-table
        :title="formatTitle()"
        :rows="rows"
        :columns="columns"
        :rows-per-page-options="[10]"
        row-key="rank"
      />
    </div>


    <q-ajax-bar position="bottom" color="accent" size="10px"/>
  </q-page>
</template>

<script setup lang="ts">
import {onMounted, ref, watch} from 'vue';
import {api} from 'boot/axios';
import {useQuasar} from 'quasar';
import {useModelSelectionStore} from 'stores/modelSelection';
import {ModelEvaluator} from 'components/model';
import {useWordManagementStore} from 'stores/wordManagement';

const $q = useQuasar();
const tokens = ref<string[]>([]);
const topSimilarNumber = ref(25);
const selection = ref<string | null>(null);
const rows = ref(null);


const modelSelectionStore = useModelSelectionStore();
const wordManagementStore = useWordManagementStore();

const formatTitle = () => {
  return 'Most similar words of ' + selection.value
}


const columns = [
  {
    name: 'rank',
    required: true,
    label: 'Rank',
    align: 'left',
    field: (row: { rank: any; }) => row.rank,
    format: (val: any) => `${val}`,
    sortable: true
  },
  {name: 'word', align: 'center', label: 'Word', field: 'word', sortable: true},
  {name: 'similarity', align: 'center', label: 'Similarity', field: 'similarity', sortable: true},
]

function alertServerNotReachable() {
  $q.notify({
    type: 'negative',
    message: 'Error loading data. Server reachable?',
    position: 'top',
  });
}

function getTokens() {
  // api
  //   .get('tokens', {params: {model: modelSelectionStore.getModel(ModelEvaluator.TopSimilarity)}})
  //   .then((resp) => (tokens.value = resp.data.filter((w: string) => wordManagementStore.getCurrentList().includes(w))))
  //   .catch((e) => {console.log(e); setTimeout(getTokens, 500)});
  tokens.value = wordManagementStore.getCurrentList()
}

function setSelected() {
  api
    .get('similarity', {
      params: {
        word: selection.value,
        n: topSimilarNumber.value,
        model: modelSelectionStore.getModel(ModelEvaluator.TopSimilarity)
      },
    })
    .then((resp) => (
      rows.value = resp.data))
}

onMounted(() => getTokens());
watch(() => modelSelectionStore.getModel(ModelEvaluator.TopSimilarity),
  () => {getTokens(); setSelected()})
</script>

<style scoped></style>
